<div class="jumbotron">
  <h1>Welcome to Plates Around the World</h1>
  <p class="lead">This way to an amazing journey across the globe through the markets of my favorite countries and my favorite foods</p>
  <a class="btn btn-primary btn-lg" href="/countries" role="button">Learn more</a></p>
</div>

</div>